<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <!-- Devices running Android 13 (API level 33) or higher -->
    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES" />

    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />

    <uses-permission android:name="android.permission.BLUETOOTH_CONNECT" />

    <queries>
        <package android:name="com.whatsapp" />
    </queries>

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Laundry"
        android:usesCleartextTraffic="true"
        tools:targetApi="31">
        <activity
            android:name=".ui.screen.splash.SplashActivity"
            android:exported="true"
            android:theme="@style/Theme.Laundry">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".ui.screen.main.MainActivity"
            android:exported="true"
            android:theme="@style/Theme.Laundry" />

        <activity
            android:name=".ui.screen.onboard.OnboardActivity"
            android:exported="true"
            android:theme="@style/Theme.Laundry"
            android:windowSoftInputMode="adjustResize" />

        <activity
            android:name=".ui.screen.user.NewUserActivity"
            android:exported="true"
            android:theme="@style/Theme.Laundry"
            android:windowSoftInputMode="adjustResize" />

        <activity
            android:name=".ui.screen.transaction.AddTransactionActivity"
            android:exported="true"
            android:theme="@style/Theme.Laundry"
            android:windowSoftInputMode="adjustResize" />

        <activity
            android:name=".ui.screen.transaction.AddCartActivity"
            android:exported="true"
            android:theme="@style/Theme.Laundry"
            android:windowSoftInputMode="adjustResize" />

        <activity
            android:name=".ui.screen.transaction.PaymentActivity"
            android:exported="true"
            android:theme="@style/Theme.Laundry"
            android:windowSoftInputMode="adjustResize" />

        <activity
            android:name=".ui.screen.transaction.CustomerActivity"
            android:exported="true"
            android:theme="@style/Theme.Laundry"
            android:windowSoftInputMode="adjustResize" />

        <activity
            android:name=".ui.screen.bill.BillActivityNew"
            android:exported="true"
            android:theme="@style/Theme.Laundry"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".ui.screen.user.UpdateUserActivity"
            android:exported="true"
            android:theme="@style/Theme.Laundry"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".ui.screen.printer.PrinterActivity"
            android:exported="true"
            android:theme="@style/Theme.Laundry"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".ui.screen.bill.BillActivity"
            android:exported="true"
            android:theme="@style/Theme.Laundry"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".ui.screen.category.CategoryActivity"
            android:exported="true"
            android:theme="@style/Theme.Laundry"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".ui.screen.category.AddCategoryActivity"
            android:exported="true"
            android:theme="@style/Theme.Laundry"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".ui.screen.product.ProductActivity"
            android:exported="true"
            android:theme="@style/Theme.Laundry"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".ui.screen.product.AddProductActivity"
            android:exported="true"
            android:theme="@style/Theme.Laundry"
            android:windowSoftInputMode="adjustResize" />

        <activity
            android:name=".ui.screen.cashflowcategory.AddCashFlowCategoryActivity"
            android:exported="true"
            android:theme="@style/Theme.Laundry"
            android:windowSoftInputMode="adjustResize" />

        <activity
            android:name=".ui.screen.cashflowcategory.CashFlowCategoryActivity"
            android:exported="true"
            android:theme="@style/Theme.Laundry"
            android:windowSoftInputMode="adjustResize" />

        <activity
            android:name=".ui.screen.cashflow.CashFlowActivity"
            android:exported="true"
            android:theme="@style/Theme.Laundry"
            android:windowSoftInputMode="adjustResize" />

        <activity
            android:name=".ui.screen.cashflow.AddCashFlowActivity"
            android:exported="true"
            android:theme="@style/Theme.Laundry"
            android:windowSoftInputMode="adjustResize" />

        <activity
            android:name=".ui.screen.cashier.CashierActivity"
            android:exported="true"
            android:theme="@style/Theme.Laundry"
            android:windowSoftInputMode="adjustResize" />

        <activity
            android:name=".ui.screen.cashier.AddCashierActivity"
            android:exported="true"
            android:theme="@style/Theme.Laundry"
            android:windowSoftInputMode="adjustResize" />

        <activity
            android:name=".ui.screen.customer.CustomerActivity"
            android:exported="true"
            android:theme="@style/Theme.Laundry"
            android:windowSoftInputMode="adjustResize" />

        <activity
            android:name=".ui.screen.customer.AddCustomerActivity"
            android:exported="true"
            android:theme="@style/Theme.Laundry"
            android:windowSoftInputMode="adjustResize" />

        <activity
            android:name=".ui.screen.transaction.SearchTransactionActivity"
            android:exported="true"
            android:theme="@style/Theme.Laundry"
            android:windowSoftInputMode="adjustResize" />

    </application>

</manifest>