<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <queries>
        <package android:name="com.whatsapp" />
    </queries>

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.KelolaKost"
        tools:targetApi="31">
        <activity
            android:name=".ui.screen.splash.SplashActivity"
            android:exported="true"
            android:theme="@style/Theme.KelolaKost">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".ui.screen.main.MainActivity"
            android:exported="true"
            android:theme="@style/Theme.KelolaKost" />

        <activity
            android:name=".ui.screen.onboard.OnboardActivity"
            android:exported="true"
            android:theme="@style/Theme.KelolaKost" />

        <activity
            android:name=".ui.screen.user.NewUserActivity"
            android:exported="true"
            android:theme="@style/Theme.KelolaKost"
            android:windowSoftInputMode="adjustResize" />

        <activity
            android:name=".ui.screen.kost.AddKostActivity"
            android:exported="true"
            android:theme="@style/Theme.KelolaKost"
            android:windowSoftInputMode="adjustResize" />

        <activity
            android:name=".ui.screen.kost.UpdateKostActivity"
            android:exported="true"
            android:theme="@style/Theme.KelolaKost"
            android:windowSoftInputMode="adjustResize" />

        <activity
            android:name=".ui.screen.unit_type.AddUnitTypeActivity"
            android:exported="true"
            android:theme="@style/Theme.KelolaKost"
            android:windowSoftInputMode="adjustResize" />

        <activity
            android:name=".ui.screen.unit_type.UpdateUnitTypeActivity"
            android:exported="true"
            android:theme="@style/Theme.KelolaKost"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".ui.screen.user.UpdateUserActivity"
            android:exported="true"
            android:theme="@style/Theme.KelolaKost"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".ui.screen.unit.AddUnitActivity"
            android:exported="true"
            android:theme="@style/Theme.KelolaKost"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".ui.screen.tenant.AddTenantActivity"
            android:exported="true"
            android:theme="@style/Theme.KelolaKost"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".ui.screen.tenant.UpdateTenantActivity"
            android:exported="true"
            android:theme="@style/Theme.KelolaKost"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".ui.screen.unit.UpdateUnitActivity"
            android:exported="true"
            android:theme="@style/Theme.KelolaKost"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".ui.screen.check_in.CheckInActivity"
            android:exported="true"
            android:theme="@style/Theme.KelolaKost"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".ui.screen.bill.BillActivity"
            android:exported="true"
            android:theme="@style/Theme.KelolaKost"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".ui.screen.extend.ExtendActivity"
            android:exported="true"
            android:theme="@style/Theme.KelolaKost"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".ui.screen.invoice.InvoiceActivity"
            android:exported="true"
            android:theme="@style/Theme.KelolaKost"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".ui.screen.move.MoveActivity"
            android:exported="true"
            android:theme="@style/Theme.KelolaKost"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".ui.screen.check_out.CheckOutActivity"
            android:exported="true"
            android:theme="@style/Theme.KelolaKost"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".ui.screen.booking.BookingActivity"
            android:exported="true"
            android:theme="@style/Theme.KelolaKost"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".ui.screen.finish_renovation.FinishRenovationActivity"
            android:exported="true"
            android:theme="@style/Theme.KelolaKost"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".ui.screen.cash_flow.AddCashFlowActivity"
            android:exported="true"
            android:theme="@style/Theme.KelolaKost"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".ui.screen.booking.AddBookingActivity"
            android:exported="true"
            android:theme="@style/Theme.KelolaKost"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".ui.screen.booking.CancelBookingActivity"
            android:exported="true"
            android:theme="@style/Theme.KelolaKost"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".ui.screen.booking.CheckInBookingActivity"
            android:exported="true"
            android:theme="@style/Theme.KelolaKost"
            android:windowSoftInputMode="adjustResize" />

    </application>

</manifest>